@model parakeet.Models.Design

@{
    ViewData["Title"] = "Delete";
}


<h3 style="color:darkorange;font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'" class="text-left">Are you sure you want to delete this design?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p style="font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'">@Model.DesignName</p>
        </dt>
       
        <dd class="col-sm-11">
            <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.DesignArray))">
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DesignId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Your Designs</a>
    </form>
</div>
