@model Design[]

<form asp-action="Index" methods="get">
    <div>
        <p align="center">
            <input type="text" name="searchDesign" value="" size="90" />
            <a><input type="button" value="Search" onclick="return" style="color:darkorange" class="btn btn-outline-info btn-sm" /></a>
        </p>
    </div>
</form>
<div class="container">
    <div class="text-center">
        <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: darkorange" class="text-center">First Choose Clothing Design</h4>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <div class="btn btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option1" autocomplete="off" style="color:darkorange">
                Short Sleeve $20
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option2" autocomplete="off" style="color:darkorange">
                Long Sleeve $35
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option3" autocomplete="off" style="color:darkorange">
                Hoodie $40
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option4" autocomplete="off" style="color:darkorange">
                Jacket $50
            </label>
        </div>
    </div>

    <div> <p><br /></p></div>

    <div class="text-center">
        <div class="btn btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option1" autocomplete="off" style="color:darkorange">
                X-Small
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option2" autocomplete="off" style="color:darkorange">
                Small
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option3" autocomplete="off" style="color:darkorange">
                Medium
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option4" autocomplete="off" style="color:darkorange">
                Large
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option5" autocomplete="off" style="color:darkorange">
                X-Large
            </label>

            <label class="btn btn-outline-info mr-5">
                <input type="radio" name="options" id="option6" autocomplete="off" style="color:darkorange">
                XX-Large
            </label>
        </div>
    </div>
</div>

<div> <p><br /></p></div>


@if (Model == null || Model.Length < 5)
{
    <h1 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="font-weight-bold  text-center">There are less than 5 designs and cannot display</h1>
}
else
{
    <div class="container">
        <div class="text-center">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-info mr-3">
                    <input type="radio" name="options" id="option1" autocomplete="off" style="color:darkorange">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length - 1].DesignArray))">
                </label>

                <label class="btn btn-outline-info mr-3">
                    <input type="radio" name="options" id="option2" autocomplete="off" style="color:darkorange">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length - 2].DesignArray))">
                </label>

                <label class="btn btn-outline-info mr-3">
                    <input type="radio" name="options" id="option3" autocomplete="off" style="color:darkorange">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length - 3].DesignArray))">
                </label>

                <label class="btn btn-outline-info mr-3">
                    <input type="radio" name="options" id="option4" autocomplete="off" style="color:darkorange">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length - 4].DesignArray))">
                </label>

                <label class="btn btn-outline-info mr-3">
                    <input type="radio" name="options" id="option5" autocomplete="off" style="color:darkorange">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length - 5].DesignArray))">
                </label>
            </div>
        </div>
    </div>
}

    <div> <p><br /></p></div>

    <div class="align-bottom text-center">
        <a asp-action="Index"> <button style="color:darkorange" class="btn btn-outline-info btn-lg"> Add to Cart </button> </a>
    </div>