@model List<parakeet.Models.OrderHistory>

@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-center" style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:darkorange">Previous Orders</h1>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order Date (Newest to Oldest)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = Model.Count - 1; i >= 0; i--)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].OrderDate)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@Model[i].OrderHistoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].OrderHistoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
    <p class="text-center" style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Oh No! You Have no Order History!</p>
    <a asp-controller="Products" asp-action="Index"> <button style="color:darkorange" class="btn btn-outline-info btn-lg"> Start an Order </button> </a>
    </div>
}
