@model IEnumerable<parakeet.Models.OrderHistory>

@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-center" style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Previous Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.OrderHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
