@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "UH-OH";
}
<div class="jumbotron">
    <div class="text-center">
        <img style="width:240px;height:150px;" src="~/image/Parakeet_Logo.png" />
        
    </div>
</div>
<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
