@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Thank Your For Choosing Parakeet!</h3>
<h3>your Order has been place. Our Skilled staff will begin creating your amazing shirts shortly</h3>
