@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="text-info">Your Cart</h3>
<p>
    <br />
    <a asp-controller="Products" asp-action="Index"><button style="color:darkorange" class="btn btn-outline-info btn-lg"> Continue Shopping </button> </a>
    <br />
</p>

@if ((bool)ViewData["Empty"] == true)
{
    <p>No items Currently in your cart</p>
}
else
{
    <table class="table table-info table-hover table-striped">
        <tr>


            <th>Clothing Type</th>
            <th>Size</th>
            <th class="text-center">Design</th>
            <th>Price</th>
            <th></th>


        </tr>
        @for (int i = 0; i < ViewBag.cart.Count; i++)
        {
            <tr>

                <td>@ViewBag.cart[i].clothingType.type</td>
                <td>@ViewBag.cart[i].size.SizeName</td>
                <td class="text-center"><img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.cart[i].design.DesignArray))"></td>
                <td>$@ViewBag.cart[i].clothingType.price</td>
                <td><a asp-action="Remove" asp-route-id="@i">Remove</a></td>

            </tr>
        }

    </table>
}
<br>
@if ((bool)ViewData["Empty"] == false)
{
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="text-center">
                <br />
                <br />
            </div>
        </div>
        <div class="col-2">

            <div class="jumbotron">
                <div class="text-center">
                    <p style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">Total: $@ViewBag.total </p>
                </div>
                <a asp-controller="Cart" asp-action="Checkout"> <button style="color:darkorange" class="btn btn-outline-info btn-lg align-content-center"> Checkout </button> </a>

            </div>
        </div>
    </div>

</div>
}

