@model Design[]
@{
    ViewData["Title"] = "Home";
}


<div class="container">

    <div class="jumbotron">
        <div class="text-center">
            <img style="width:240px;height:150px;" src="~/image/Parakeet_Logo.png" />
            <h4 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="text-center">Amazing Designs | Fantastic Clothing | Awesome Prices</h4>
        </div>
    </div>
    <div class="container">
        <div class="page-header">

            <h1 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:darkorange" class="font-weight-bold  text-center">-Popular Designs-</h1>
        </div>
        <div class="row">
            @if (Model == null || Model.Length < 5)
            {
                // there are no designs or less than 5 designs in DB so there is no top 5
                <div class="col-sm-1"></div>
                <div class="col-sm-2">1</div>
                <div class="col-sm-2">2</div>
                <div class="col-sm-2">3</div>
                <div class="col-sm-2">4</div>
                <div class="col-sm-2">5</div>
                <div class="col-sm-1"></div>
            }
            else
            {
                // there are enough designs in the DB to present 5 designs
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-1].DesignArray))">
                    
                </div>
                <div class="col-sm-2">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-2].DesignArray))">
                    
                </div>
                <div class="col-sm-2">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-5].DesignArray))">
                                   
                </div>
                <div class="col-sm-2">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-3].DesignArray))">
                    
                </div>
                <div class="col-sm-2">
                    <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-4].DesignArray))">
                    
                </div>
                <div class="col-sm-1"></div>
            }

        </div>
    </div>


</div>
<div> <p><br /></p></div>

<div class="container">

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 text-center">

            <a asp-controller="Products" asp-action="Index"> <button style="color:darkorange" class="btn btn-outline-info btn-lg"> Start Your Shirt Order </button> </a>

            <h3 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="align-content-center"><br />Parakeet provides independent artist with a platform to sell their designs</h3>
            <h3 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="align-content-center"><br />All Designs You love can be added to quality Shirts<br /></h3>


        </div>
        <div class="col-sm-2"></div>
    </div>


</div>

