@model Design[]
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Popular Designs</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-1].DesignArray))"></div>
        <div class="col-sm-2"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-2].DesignArray))"></div>
        <div class="col-sm-2"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-3].DesignArray))"></div>
        <div class="col-sm-2"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-4].DesignArray))"></div>
        <div class="col-sm-2"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model[Model.Length-5].DesignArray))"></div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="align-content-center">We provide independent artist with a platform to sell their designs</p>
            <p class="align-content-center">All Designs can be applied to our quality shirts and upperware</p>
            <a asp-action="Index"> <button class="btn btn-info"> Buy Custom Shirts </button> </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
      
</div>



